<div class="profile">
    <form method="post" action="/auth/logout">
        <span class="profile__name">{{user_name}}</span>
        <button type="submit" class="btn btn-default">Выйти</button>
    </form>
</div>
