<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Автошкола "у Вити"</title>
    <link rel="stylesheet" type="text/css" href="/home/vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/home/vendors/css/grid.css">
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://code.ionicframework.com /ionicons/2.0.1/css/ionicons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/home/resourses/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/home/resourses/css/queries.css">
</head>
<body>
<header>
    <nav>
        <div class="row">
            <ul class="main-nav">
                <li><a href="/auth/login">Войти в систему</a></li>
                <li><a href="/auth/register">Зарегистрироваться</a></li>
            </ul>
        </div>
    </nav>
    <div class="hero-text-box">
        <h1>Водить &mdash; легко!<br> И мы Вам поможем изучить все ПДД.</h1>
        <a href="/auth/login" class="btn btn-full">Войти в систему</a>
        <a href="/auth/register" class="btn btn-ghost">Зарегестрироваться</a>
    </div>
</header>
<section class="section-features">
    <div class="row">
        <h2>Научим водить даже гориллу</h2>
        <p class="long-copy"> Привет! Мы - одна из лучших автошкол в мире! Так почему же наши клиенты выбирают именно
            нас?
        </p>
    </div>
    <div class="row">
        <div class="col span-1-of-3 box">
            <i class="ion-ios-infinite-outline"></i>
            <h3>Лучшая программа для проверки Ваших знаний</h3>
            <p>Собственно, это и есть диплом. Но это не мешает мне написать сюда много всякого ;) </p>
        </div>
        <div class="col span-1-of-3 box">
            <i class="ion-ios-stopwatch-outline"></i>
            <h3>Самые крутые инструкторы</h3>
            <p>Эти ребята - настояшщие профи своего дела! они научат кого угодно управлять даже танком!</p>
        </div>
        <div class="col span-1-of-3 box">
            <i class="ion-ios-nutrition-outline"></i>
            <h3>Абсолютное соответствие всем законам</h3>
            <p>Законы меняются ежедневно. и мы ежедневно меняем план занятий и теоретический материал! Вам обязательно
                понравится!</p>
        </div>

    </div>

</section>
</body>
</html>
