<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ПДД 2017</title>

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <style>
        .textimg, .textrazmimgh {
            height: 34px;
        }
    </style>
</head>
<body>


<a href="/" class="global-back-btn">↖︎</a>
<br>
<div class="col-md-9 col-sm-9">

    <img class="img-responsive pull-left hidden-xs" alt="логотип" src="http://i.imgur.com/71MyfoV.png">
    <h1 style="margin-top: 0px">ПДД 2017 РФ</h1>
    <p class="lead">Новые ПДД с изменениями от <span class="text-danger">4 апреля 2017 года</span></p>


    <h5>Правила дорожного движения 2017</h5>
    <a name="1.1"></a>

    <div class="znakrow">

        <b>1.1.</b> Настоящие Правила дорожного движения 2017 года<b>**</b> устанавливают единый порядок дорожного движения
        на всей территории Российской Федерации(РФ). Другие нормативные акты, касающиеся дорожного движения, должны
        основываться на требованиях Правил и не противоречить им.<p><b>**</b> В дальнейшем - Правила.</p></div>
    <a name="1.2"></a>

    <div class="znakrow">
        <hr>
        <b>1.2.</b> В Правилах используются следующие основные понятия и термины:
        <div class="znakrow"><p><dfn>"Автомагистраль"</dfn> - дорога, обозначенная знаком 5.1&nbsp;<img class="textimg" src="/pdd/img/z5.1.png"> <b>**</b> и имеющая для
            каждого направления движения проезжие части, отделенные друг от друга разделительной полосой (а при ее
            отсутствии - дорожным ограждением), без пересечений в одном уровне с другими дорогами, железнодорожными
            или трамвайными путями, пешеходными или велосипедными дорожками.

        </p><p><b>**</b> Здесь и далее приводится нумерация дорожных знаков согласно Приложению 1 (Дорожные знаки).</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Автопоезд"</dfn> - механическое транспортное средство, сцепленное с прицепом
            (прицепами).</p><div class="gwt-HTML"><div style="float: left; margin-right: 10px">
            <ins class="adsbygoogle pdd24-adapt-pdd2" style="display:block" data-ad-client="ca-pub-6980016973430315" data-ad-slot="2636072413" data-ad-format="auto"></ins></div></div><hr></div>
        <div class="znakrow"><p><dfn>"Велосипед"</dfn> - транспортное средство, кроме инвалидных колясок, которое
            имеет по крайней мере два колеса и приводится в движение как правило мускульной энергией лиц,
            находящихся на этом транспортном средстве, в частности при помощи педалей или рукояток, и может также
            иметь электродвигатель номинальной максимальной мощностью в режиме длительной нагрузки, не превышающей
            0,25 кВт, автоматически отключающийся на скорости более 25 км/ч.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Велосипедист"</dfn> - лицо, управляющее велосипедом.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Велосипедная дорожка"</dfn> - конструктивно отделенный от проезжей части и
            тротуара элемент дороги (либо отдельная дорога), предназначенный для движения велосипедистов и
            обозначенный знаком 4.4.1&nbsp;<img class="textimg" src="/pdd/img/z4.4.1.png">.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Водитель"</dfn> - лицо, управляющее каким-либо транспортным средством,
            погонщик, ведущий по дороге вьючных, верховых животных или стадо. К водителю приравнивается обучающий
            вождению.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Вынужденная остановка"</dfn> - прекращение движения транспортного средства
            из-за его технической неисправности или опасности, создаваемой перевозимым грузом, состоянием водителя
            (пассажира) или появлением препятствия на дороге.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Главная дорога"</dfn> - дорога, обозначенная знаками 2.1&nbsp;<img class="textimg" src="/pdd/img/z2.1.png">, 2.3.1 - 2.3.7&nbsp;<img class="textimg" src="/pdd/img/z2.3.1.png"><img class="textimg" src="/pdd/img/z2.3.2.png"><img class="textimg" src="/pdd/img/z2.3.3.png"><img class="textimg" src="/pdd/img/z2.3.4.png"><img class="textimg" src="/pdd/img/z2.3.5.png"><img class="textimg" src="/pdd/img/z2.3.6.png"><img class="textimg" src="/pdd/img/z2.3.7.png"> или 5.1&nbsp;<img class="textimg" src="/pdd/img/z5.1.png">, по
            отношению к пересекаемой (примыкающей), или дорога с твердым покрытием (асфальто- и цементобетон,
            каменные материалы и тому подобное) по отношению к грунтовой, либо любая дорога по отношению к выездам с
            прилегающих территорий. Наличие на второстепенной дороге непосредственно перед перекрестком участка с
            покрытием не делает ее равной по значению с пересекаемой.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Дневные ходовые огни"</dfn> - внешние световые приборы, предназначенные для
            улучшения видимости движущегося транспортного средства спереди в светлое время суток.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Дорога"</dfn> - обустроенная или приспособленная и используемая для движения
            транспортных средств полоса земли либо поверхность искусственного сооружения. Дорога включает в себя
            одну или несколько проезжих частей, а также трамвайные пути, тротуары, обочины и разделительные полосы
            при их наличии.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Дорожное движение"</dfn> - совокупность общественных отношений, возникающих в
            процессе перемещения людей и грузов с помощью транспортных средств или без таковых в пределах дорог.
        </p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Дорожно-транспортное происшествие"</dfn> - событие, возникшее в процессе
            движения по дороге транспортного средства и с его участием, при котором погибли или ранены люди,
            повреждены транспортные средства, сооружения, грузы либо причинен иной материальный ущерб.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Железнодорожный переезд"</dfn> - пересечение дороги с железнодорожными путями
            на одном уровне.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Маршрутное транспортное средство"</dfn> - транспортное средство общего
            пользования (автобус, троллейбус, трамвай), предназначенное для перевозки по дорогам людей и движущееся
            по установленному маршруту с обозначенными местами остановок.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Механическое транспортное средство"</dfn> - транспортное средство, приводимое
            в движение двигателем. Термин распространяется также на любые тракторы и самоходные машины.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Мопед"</dfn> - двух- или трехколесное механическое транспортное средство,
            максимальная конструктивная скорость которого не превышает 50 км/ч, имеющее двигатель внутреннего
            сгорания с рабочим объемом, не превышающим 50 куб. см, или электродвигатель номинальной максимальной
            мощностью в режиме длительной нагрузки более 0,25 кВт и менее 4 кВт. К мопедам приравниваются
            квадрициклы, имеющие аналогичные технические характеристики.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Мотоцикл"</dfn> - двухколесное механическое транспортное средство с боковым
            прицепом или без него, рабочий объем двигателя которого (в случае двигателя внутреннего сгорания)
            превышает 50 куб. см или максимальная конструктивная скорость (при любом двигателе) превышает 50 км/ч. К
            мотоциклам приравниваются трициклы, а также квадрициклы с мотоциклетной посадкой или рулем
            мотоциклетного типа, имеющие ненагруженную массу, не превышающую 400 кг (550 кг для транспортных
            средств, предназначенных для перевозки грузов) без учета массы аккумуляторов (в случае электрических
            транспортных средств), и максимальную эффективную мощность двигателя, не превышающую 15 кВт.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Населенный пункт"</dfn> - застроенная территория, въезды на которую и выезды с
            которой обозначены знаками 5.23.1 - 5.26&nbsp;<img class="textimg" src="/pdd/img/z5.23.1.png"><img class="textimg" src="/pdd/img/z5.23.2.png"><img class="textimg" src="/pdd/img/z5.24.1.png"><img class="textimg" src="/pdd/img/z5.24.2.png"><img class="textimg" src="/pdd/img/z5.25.png"><img class="textimg" src="/pdd/img/z5.26.png">.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Недостаточная видимость"</dfn> - видимость дороги менее 300 м в условиях
            тумана, дождя, снегопада и тому подобного, а также в сумерки.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Обгон"</dfn> - опережение одного или нескольких транспортных средств,
            связанное с выездом на полосу (сторону проезжей части), предназначенную для встречного движения, и
            последующим возвращением на ранее занимаемую полосу (сторону проезжей части).</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Обочина"</dfn> - элемент дороги, примыкающий непосредственно к проезжей части
            на одном уровне с ней, отличающийся типом покрытия или выделенный с помощью разметки 1.2.1&nbsp;<img class="textrazmimgh" src="/pdd/img/r1.2.1.gif">
            либо 1.2.2&nbsp;<img class="textrazmimgh" src="/pdd/img/r1.2.2.gif">,
            используемый для движения, остановки и стоянки в соответствии с Правилами дорожного движения 2017 России(РФ).</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Ограниченная видимость"</dfn> - видимость водителем дороги в направлении
            движения, ограниченная рельефом местности, геометрическими параметрами дороги, растительностью,
            строениями, сооружениями или иными объектами, в том числе транспортными средствами.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Опасность для движения"</dfn> - ситуация, возникшая в процессе дорожного
            движения, при которой продолжение движения в том же направлении и с той же скоростью создает угрозу
            возникновения дорожно-транспортного происшествия.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Опасный груз"</dfn> - вещества, изделия из них, отходы производственной и иной
            хозяйственной деятельности, которые в силу присущих им свойств могут при перевозке создать угрозу для
            жизни и здоровья людей, нанести вред окружающей среде, повредить или уничтожить материальные ценности.
        </p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Опережение"</dfn> - движение транспортного средства со скоростью, большей
            скорости попутного транспортного средства.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Организованная перевозка группы детей"</dfn> - перевозка в автобусе, не относящемся
            к маршрутному транспортному средству, группы детей численностью 8 и более человек, осуществляемая без их
            законных представителей, за исключением случая, когда законный(ые) представитель(ли) является(ются)
            назначенным(и) сопровождающим(и) или назначенным медицинским работником.
        </p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Организованная транспортная колонна"</dfn> - группа из трех и более
            механических транспортных средств, следующих непосредственно друг за другом по одной и той же полосе
            движения с постоянно включенными фарами в сопровождении головного транспортного средства с нанесенными
            на наружные поверхности специальными цветографическими схемами и включенными проблесковыми маячками
            синего и красного цветов.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Организованная пешая колонна"</dfn> - обозначенная в соответствии с пунктом 4.2 Правил группа людей, совместно движущихся по дороге в одном
            направлении.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Остановка"</dfn> - преднамеренное прекращение движения транспортного средства
            на время до 5 минут, а также на большее, если это необходимо для посадки или высадки пассажиров либо
            загрузки или разгрузки транспортного средства.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Островок безопасности"</dfn> - элемент обустройства дороги,   разделяющий
            полосы движения противоположных направлений (в том числе  и  полосы   для
            велосипедистов), конструктивно выделенный бордюрным камнем над   проезжей
            частью  дороги  или  обозначенный  техническими  средствами   организации
            дорожного движения и предназначенный для остановки пешеходов при переходе
            проезжей части дороги. К островку безопасности  может  относиться   часть
            разделительной полосы, через которую проложен пешеходный переход.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Парковка (парковочное место)"</dfn> - специально обозначенное и при
            необходимости обустроенное и оборудованное место, являющееся в том числе частью автомобильной дороги и
            (или) примыкающее к проезжей части и (или) тротуару, обочине, эстакаде или мосту либо являющееся частью
            подэстакадных или подмостовых пространств, площадей и иных объектов улично-дорожной сети, зданий,
            строений или сооружений и предназначенное для организованной стоянки транспортных средств на платной
            основе или без взимания платы по решению собственника или иного владельца автомобильной дороги,
            собственника земельного участка либо собственника соответствующей части здания, строения или сооружения.
        </p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Пассажир"</dfn> - лицо, кроме водителя, находящееся в транспортном средстве
            (на нем), а также лицо, которое входит в транспортное средство (садится на него) или выходит из
            транспортного средства (сходит с него).</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Перекресток"</dfn> - место пересечения, примыкания или разветвления дорог на
            одном уровне, ограниченное воображаемыми линиями, соединяющими соответственно противоположные, наиболее
            удаленные от центра перекрестка начала закруглений проезжих частей. Не считаются перекрестками выезды с
            прилегающих территорий.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Перестроение"</dfn> - выезд из занимаемой полосы или занимаемого ряда с
            сохранением первоначального направления движения.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Пешеход"</dfn> - лицо, находящееся вне транспортного средства на дороге либо
            на пешеходной или велопешеходной дорожке и не производящее на них работу. К пешеходам приравниваются
            лица, передвигающиеся в инвалидных колясках без двигателя, ведущие велосипед, мопед, мотоцикл, везущие
            санки, тележку, детскую или инвалидную коляску, а также использующие для передвижения роликовые коньки,
            самокаты и иные аналогичные средства.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Пешеходная дорожка"</dfn> - обустроенная или приспособленная для движения
            пешеходов полоса земли либо поверхность искусственного сооружения, обозначенная знаком 4.5.1&nbsp;<img class="textimg" src="/pdd/img/z4.5.1.png">.
        </p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Пешеходная зона"</dfn> - территория, предназначенная для движения пешеходов,
            начало и конец которой обозначены соответственно знаками 5.33&nbsp;<img class="textimg" src="/pdd/img/z5.33.png"> и 5.34&nbsp;<img class="textimg" src="/pdd/img/z5.34.png">.
        </p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Пешеходная и велосипедная дорожка (велопешеходная дорожка)"</dfn> -
            конструктивно отделенный от проезжей части элемент дороги (либо отдельная дорога), предназначенный для
            раздельного или совместного с пешеходами движения велосипедистов и обозначенный знаками 4.5.2 - 4.5.7&nbsp;<img class="textimg" src="/pdd/img/z4.5.2.png"><img class="textimg" src="/pdd/img/z4.5.3.png"><img class="textimg" src="/pdd/img/z4.5.4.png"><img class="textimg" src="/pdd/img/z4.5.5.png"><img class="textimg" src="/pdd/img/z4.5.6.png"><img class="textimg" src="/pdd/img/z4.5.7.png">.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Пешеходный переход"</dfn> - участок проезжей части, трамвайных путей,
            обозначенный знаками 5.19.1&nbsp;<img class="textimg" src="/pdd/img/z5.19.1.png">, 5.19.2&nbsp;<img class="textimg" src="/pdd/img/z5.19.2.png"> и (или) разметкой
            1.14.1&nbsp;<img class="textrazmimgh" src="/pdd/img/r1.14.1.gif">
            и 1.14.2&nbsp;<img class="textrazmimgh" src="/pdd/img/r1.14.2.gif">
            <b>**</b> и выделенный для движения пешеходов через дорогу. При отсутствии разметки ширина пешеходного
            перехода определяется расстоянием между знаками 5.19.1&nbsp;<img class="textimg" src="/pdd/img/z5.19.1.png"> и 5.19.2&nbsp;<img class="textimg" src="/pdd/img/z5.19.2.png">.

        </p><p><b>**</b> Здесь и далее приводится нумерация дорожной разметки согласно приложению 2 (Дорожная разметка).</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Полоса движения"</dfn> - любая из продольных полос проезжей части,
            обозначенная или не обозначенная разметкой и имеющая ширину, достаточную для движения автомобилей в один
            ряд.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Полоса для велосипедистов"</dfn> - полоса проезжей части, предназначенная
            для движения на велосипедах и мопедах, отделенная от остальной   проезжей
            части горизонтальной разметкой и обозначенная знаком 5.14.2&nbsp;<img class="textimg" src="/pdd/img/z5.14.2.png"></p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Преимущество (приоритет)"</dfn> - право на первоочередное движение в
            намеченном направлении по отношению к другим участникам движения.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Препятствие"</dfn> - неподвижный объект на полосе движения (неисправное или
            поврежденное транспортное средство, дефект проезжей части, посторонние предметы и т.п.), не позволяющий
            продолжить движение по этой полосе.

        </p><p> Не является препятствием затор или транспортное средство, остановившееся на этой полосе движения в
            соответствии с требованиями Правил. </p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Прилегающая территория"</dfn> - территория, непосредственно прилегающая к
            дороге и не предназначенная для сквозного движения транспортных средств (дворы, жилые массивы,
            автостоянки, АЗС, предприятия и тому подобное). Движение по прилегающей территории осуществляется в
            соответствии с настоящими Правилами ПДД 2017.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Прицеп"</dfn> - транспортное средство, не оборудованное двигателем и
            предназначенное для движения в составе с механическим транспортным средством. Термин распространяется
            также на полуприцепы и прицепы-роспуски.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Проезжая часть"</dfn> - элемент дороги, предназначенный для движения
            безрельсовых транспортных средств.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Разделительная полоса"</dfn> - элемент дороги, выделенный конструктивно и
            (или) с помощью разметки 1.2.1&nbsp;<img class="textrazmimgh" src="/pdd/img/r1.2.1.gif">, разделяющий смежные проезжие части и не
            предназначенный для движения и остановки транспортных средств.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Разрешенная максимальная масса"</dfn> - масса снаряженного транспортного
            средства с грузом, водителем и пассажирами, установленная предприятием-изготовителем в качестве
            максимально допустимой. За разрешенную максимальную массу состава транспортных средств, то есть
            сцепленных и движущихся как одно целое, принимается сумма разрешенных максимальных масс транспортных
            средств, входящих в состав.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Регулировщик"</dfn> - лицо, наделенное в установленном порядке полномочиями по
            регулированию дорожного движения с помощью сигналов, установленных Правилами дорожного движения 2017, и непосредственно
            осуществляющее указанное регулирование. Регулировщик должен быть в форменной одежде и (или) иметь
            отличительный знак и экипировку. К регулировщикам относятся сотрудники полиции и военной автомобильной
            инспекции, а также работники дорожно-эксплуатационных служб, дежурные на железнодорожных переездах и
            паромных переправах при исполнении ими своих должностных обязанностей.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Стоянка"</dfn> - преднамеренное прекращение движения транспортного средства на
            время более 5 минут по причинам, не связанным с посадкой или высадкой пассажиров либо загрузкой или
            разгрузкой транспортного средства.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Темное время суток"</dfn> - промежуток времени от конца вечерних сумерек до
            начала утренних сумерек.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Транспортное средство"</dfn> - устройство, предназначенное для перевозки по
            дорогам людей, грузов или оборудования, установленного на нем.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Тротуар"</dfn> - элемент дороги, предназначенный для движения пешеходов и
            примыкающий к проезжей части или к велосипедной дорожке либо отделенный от них газоном.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Уступить дорогу (не создавать помех)"</dfn> - требование, означающее, что
            участник дорожного движения не должен начинать, возобновлять или продолжать движение, осуществлять
            какой-либо маневр, если это может вынудить других участников движения, имеющих по отношению к нему
            преимущество, изменить направление движения или скорость.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Участник дорожного движения"</dfn> - лицо, принимающее непосредственное
            участие в процессе движения в качестве водителя, пешехода, пассажира транспортного средства.</p></div>
        <hr>
        <div class="znakrow"><p><dfn>"Школьный автобус"</dfn> - специализированное транспортное средство (автобус), соответствующее требованиям к транспортным средствам для перевозки детей, установленным законодательством о техническом регулировании, и принадлежащее на праве собственности или на ином законном основании дошкольной образовательной или общеобразовательной организации.</p></div>
    </div>
    <a name="1.3"></a>

    <div class="znakrow">
        <hr>
        <b>1.3.</b> Участники дорожного движения обязаны знать и соблюдать относящиеся к ним требования Правил,
        сигналов светофоров, знаков и разметки, а также выполнять распоряжения регулировщиков, действующих в
        пределах предоставленных им прав и регулирующих дорожное движение установленными сигналами.
    </div>
    <a name="1.4"></a>

    <div class="znakrow">
        <hr>
        <b>1.4.</b> На дорогах установлено правостороннее движение транспортных средств.
    </div>
    <a name="1.5"></a>

    <div class="znakrow">
        <hr>
        <b>1.5.</b> Участники дорожного движения должны действовать таким образом, чтобы не создавать опасности для
        движения и не причинять вреда. <p> Запрещается повреждать или загрязнять покрытие дорог, снимать,
        загораживать, повреждать, самовольно устанавливать дорожные знаки, светофоры и другие технические средства
        организации движения, оставлять на дороге предметы, создающие помехи для движения. Лицо, создавшее помеху,
        обязано принять все возможные меры для ее устранения, а если это невозможно, то доступными средствами
        обеспечить информирование участников движения об опасности и сообщить в полицию. </p></div>

    <a name="1.6"></a>

    <div class="znakrow">
        <hr>
        <b>1.6.</b> Лица, нарушившие Правила ПДД 2017/2016, несут ответственность в соответствии с действующим законодательством.
    </div>

</div>

<br>

</body>
</html>